{% extends 'base.html' %}

{% block title %}Fónix Anúncios{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/styles.css">
{% if text %}
<p>{{ text }}</p>
{% endif %}
<form method="POST">

    <p>
        <label for="first">O teu email</label>
        <input id="first" type="email" name="email" type="text">
    </p>

    <input type="submit" value="Inscrever">

    <!--Place output of make_template(data) here-->
    <h2>LEE</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LEE value='acom'> (acom) Arquitectura de Computadores<br/></p>
<p><input type=checkbox name=LEE value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LEE value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LEE value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LEE value='dmg'> (dmg) Desenho e Modelação Geométrica<br/></p>
<p><input type=checkbox name=LEE value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=LEE value='pro'> (pro) Programação<br/></p>
    </div>
    <h2>LEGI</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LEGI value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LEGI value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LEGI value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LEGI value='cmat'> (cmat) Ciência de Materiais<br/></p>
<p><input type=checkbox name=LEGI value='dmg'> (dmg) Desenho e Modelação Geométrica<br/></p>
<p><input type=checkbox name=LEGI value='micr'> (micr) Microeconomia<br/></p>
<p><input type=checkbox name=LEGI value='mo'> (mo) Mecânica e Ondas<br/></p>
    </div>
    <h2>LEGM</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LEGM value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LEGM value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LEGM value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LEGM value='des'> (des) Desenho<br/></p>
<p><input type=checkbox name=LEGM value='eoeg'> (eoeg) Expressão Oral e Escrita-Geológica<br/></p>
<p><input type=checkbox name=LEGM value='est'> (est) Estática<br/></p>
<p><input type=checkbox name=LEGM value='geol'> (geol) Geologia<br/></p>
<p><input type=checkbox name=LEGM value='mo'> (mo) Mecânica e Ondas<br/></p>
    </div>
    <h2>LEIC-A</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LEIC-A value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LEIC-A value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LEIC-A value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LEIC-A value='iaed'> (iaed) Introdução aos Algoritmos e Estruturas de Dados<br/></p>
<p><input type=checkbox name=LEIC-A value='lp'> (lp) Lógica para Programação<br/></p>
<p><input type=checkbox name=LEIC-A value='md'> (md) Matemática Discreta<br/></p>
    </div>
    <h2>LEIC-T</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LEIC-T value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LEIC-T value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LEIC-T value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LEIC-T value='iaed'> (iaed) Introdução aos Algoritmos e Estruturas de Dados<br/></p>
<p><input type=checkbox name=LEIC-T value='lp'> (lp) Lógica para Programação<br/></p>
<p><input type=checkbox name=LEIC-T value='md'> (md) Matemática Discreta<br/></p>
    </div>
    <h2>LENO</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LENO value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LENO value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LENO value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LENO value='cmat'> (cmat) Ciência de Materiais<br/></p>
<p><input type=checkbox name=LENO value='dcn'> (dcn) Desenho de Construção Naval<br/></p>
<p><input type=checkbox name=LENO value='ges'> (ges) Gestão<br/></p>
<p><input type=checkbox name=LENO value='mo'> (mo) Mecânica e Ondas<br/></p>
    </div>
    <h2>LETI</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LETI value='acom'> (acom) Arquitectura de Computadores<br/></p>
<p><input type=checkbox name=LETI value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LETI value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LETI value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LETI value='iaed'> (iaed) Introdução aos Algoritmos e Estruturas de Dados<br/></p>
<p><input type=checkbox name=LETI value='ieti'> (ieti) Introdução à Engenharia de Telecomunicações e Informática<br/></p>
<p><input type=checkbox name=LETI value='mo'> (mo) Mecânica e Ondas<br/></p>
    </div>
    <h2>LMAC</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=LMAC value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=LMAC value='ccdi'> (ccdi) Complementos de Cálculo Diferencial e Integral<br/></p>
<p><input type=checkbox name=LMAC value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=LMAC value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=LMAC value='ialg'> (ialg) Introdução à Álgebra<br/></p>
<p><input type=checkbox name=LMAC value='io'> (io) Introdução à Optimização<br/></p>
<p><input type=checkbox name=LMAC value='mo'> (mo) Mecânica e Ondas<br/></p>
    </div>
    <h2>MA</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MA value='da-ii'> (da-ii) Desenho Arquitectónico II<br/></p>
<p><input type=checkbox name=MA value='est'> (est) Estática<br/></p>
<p><input type=checkbox name=MA value='hacm'> (hacm) História da Arquitectura Clássica e Medieval<br/></p>
<p><input type=checkbox name=MA value='m-ii'> (m-ii) Matemática II<br/></p>
    </div>
    <h2>MEAer</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEAer value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEAer value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEAer value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEAer value='cmat'> (cmat) Ciência de Materiais<br/></p>
<p><input type=checkbox name=MEAer value='ges'> (ges) Gestão<br/></p>
<p><input type=checkbox name=MEAer value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEAer value='sd'> (sd) Sistemas Digitais<br/></p>
    </div>
    <h2>MEAmbi</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEAmbi value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEAmbi value='bbm'> (bbm) Bioquímica e Biologia Molecular<br/></p>
<p><input type=checkbox name=MEAmbi value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEAmbi value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEAmbi value='gambi'> (gambi) Geologia Ambiental<br/></p>
<p><input type=checkbox name=MEAmbi value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEAmbi value='qo'> (qo) Química Orgânica<br/></p>
    </div>
    <h2>MEBiol</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEBiol value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEBiol value='bbm'> (bbm) Bioquímica e Biologia Molecular<br/></p>
<p><input type=checkbox name=MEBiol value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEBiol value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEBiol value='lq-ii'> (lq-ii) Laboratórios de Química II<br/></p>
<p><input type=checkbox name=MEBiol value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEBiol value='q-ii'> (q-ii) Química II<br/></p>
<p><input type=checkbox name=MEBiol value='qo-i'> (qo-i) Química Orgânica I<br/></p>
    </div>
    <h2>MEBiom</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEBiom value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEBiom value='be'> (be) Bio-Electricidade<br/></p>
<p><input type=checkbox name=MEBiom value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEBiom value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEBiom value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEBiom value='qui'> (qui) Química<br/></p>
<p><input type=checkbox name=MEBiom value='tcfe'> (tcfe) Teoria dos Circuitos e Fundamentos de Electrónica<br/></p>
    </div>
    <h2>MEC</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEC value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEC value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEC value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEC value='dac'> (dac) Desenho Assistido por Computador<br/></p>
<p><input type=checkbox name=MEC value='dase'> (dase) Desafios Ambientais e da Sustentabilidade em Engenharia<br/></p>
<p><input type=checkbox name=MEC value='mec-i'> (mec-i) Mecânica I<br/></p>
<p><input type=checkbox name=MEC value='mgeo'> (mgeo) Mineralogia e Geologia<br/></p>
<p><input type=checkbox name=MEC value='tem'> (tem) Termodinâmica e Estrutura da Matéria<br/></p>
    </div>
    <h2>MEEC</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEEC value='acom'> (acom) Arquitectura de Computadores<br/></p>
<p><input type=checkbox name=MEEC value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEEC value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEEC value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEEC value='ges'> (ges) Gestão<br/></p>
<p><input type=checkbox name=MEEC value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEEC value='pro'> (pro) Programação<br/></p>
    </div>
    <h2>MEFT</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEFT value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEFT value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEFT value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEFT value='o'> (o) Opção Livre 3<br/></p>
<p><input type=checkbox name=MEFT value='oond'> (oond) Oscilações e Ondas<br/></p>
<p><input type=checkbox name=MEFT value='qui'> (qui) Química<br/></p>
<p><input type=checkbox name=MEFT value='sd'> (sd) Sistemas Digitais<br/></p>
    </div>
    <h2>MEM</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEM value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEM value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEM value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEM value='iem'> (iem) Introdução à Engenharia de Materiais<br/></p>
<p><input type=checkbox name=MEM value='lem'> (lem) Laboratórios de Engenharia de Materiais<br/></p>
<p><input type=checkbox name=MEM value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEM value='qo'> (qo) Química Orgânica<br/></p>
    </div>
    <h2>MEMec</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEMec value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEMec value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEMec value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEMec value='cmat'> (cmat) Ciência de Materiais<br/></p>
<p><input type=checkbox name=MEMec value='dmg-ii'> (dmg-ii) Desenho e Modelação Geométrica II<br/></p>
<p><input type=checkbox name=MEMec value='ges'> (ges) Gestão<br/></p>
<p><input type=checkbox name=MEMec value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEMec value='ppes'> (ppes) Portfólio Pessoal<br/></p>
    </div>
    <h2>MEQ</h2>
    <button type="button" class="collapsible">Abrir </button>
    <div class="content">
<p><input type=checkbox name=MEQ value='al'> (al) Álgebra Linear<br/></p>
<p><input type=checkbox name=MEQ value='bbm'> (bbm) Bioquímica e Biologia Molecular<br/></p>
<p><input type=checkbox name=MEQ value='cdi-i'> (cdi-i) Cálculo Diferencial e Integral I<br/></p>
<p><input type=checkbox name=MEQ value='cdi-ii'> (cdi-ii) Cálculo Diferencial e Integral II<br/></p>
<p><input type=checkbox name=MEQ value='lq-ii'> (lq-ii) Laboratórios de Química II<br/></p>
<p><input type=checkbox name=MEQ value='mo'> (mo) Mecânica e Ondas<br/></p>
<p><input type=checkbox name=MEQ value='q-ii'> (q-ii) Química II<br/></p>
<p><input type=checkbox name=MEQ value='qo-i'> (qo-i) Química Orgânica I<br/></p>
    </div>
    <!--End of output of function-->
</form>
<script type="text/javascript" src="static/main.js"></script>  
{% endblock %}