{% extends 'base.html' %}

{% block title %}Fónix Anúncios{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/styles.css">
{% if text %}
<p>{{ text }}</p>
{% endif %}
<form method="POST">

    <p>
        <label for="first">O teu email</label>
        <input id="first" type="email" name="email" type="text">
    </p>

    <input type="submit" value="Inscrever">

    <!--Place output of make_template(data) here-->
    <h2>LEIC-A</h2>
    <button type="button" class="collapsible">Abrir </button type="button">
    <div class="content">
        <p><input type=checkbox name=LEIC-A value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEIC-A value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEIC-A value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEIC-A value='IAED'> IAED <br /></p>
        <p><input type=checkbox name=LEIC-A value='LP'> LP <br /></p>
        <p><input type=checkbox name=LEIC-A value='MD'> MD <br /></p>
    </div>
    <h2>LEIC-T</h2>
    <button type="button" class="collapsible">Abrir </button type="button">
    <div class="content">
        <p><input type=checkbox name=LEIC-T value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEIC-T value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEIC-T value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEIC-T value='IAED'> IAED <br /></p>
        <p><input type=checkbox name=LEIC-T value='LP'> LP <br /></p>
        <p><input type=checkbox name=LEIC-T value='MD'> MD <br /></p>
    </div>
    <h2>LEE</h2>
    <button type="button" class="collapsible">Abrir </button type="button">
    <div class="content">
        <p><input type=checkbox name=LEE value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEE value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEE value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEE value='AC'> AC <br /></p>
        <p><input type=checkbox name=LEE value='DMG'> DMG <br /></p>
        <p><input type=checkbox name=LEE value='MO'> MO <br /></p>
        <p><input type=checkbox name=LEE value='Prog'> Prog <br /></p>
    </div>
    <h2>LEGM</h2>
    <button type="button" class="collapsible">Abrir </button type="button">
    <div class="content">
        <p><input type=checkbox name=LEGM value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEGM value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEGM value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEGM value='Des'> Des <br /></p>
        <p><input type=checkbox name=LEGM value='Est'> Est <br /></p>
        <p><input type=checkbox name=LEGM value='EOEG'> EOEG <br /></p>
        <p><input type=checkbox name=LEGM value='Geol'> Geol <br /></p>
        <p><input type=checkbox name=LEGM value='MO'> MO <br /></p>
    </div>
    <h2>LEGI</h2>
    <button type="button" class="collapsible">Abrir </button type="button">
    <div class="content">
        <p><input type=checkbox name=LEGI value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEGI value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEGI value='CDI-II'> CDI-II <br /></p>
    </div>
    <h2>MEEC</h2>
    <button type="button" class="collapsible">Abrir </button type="button">
    <div class="content">
        <p><input type=checkbox name=MEEC value='AL'> AL <br /></p>
        <p><input type=checkbox name=MEEC value='AC'> AC <br /></p>
        <p><input type=checkbox name=MEEC value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=MEEC value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=MEEC value='Ges'> Ges <br /></p>
        <p><input type=checkbox name=MEEC value='MO'> MO <br /></p>
        <p><input type=checkbox name=MEEC value='Prog'> Prog <br /></p>
    </div>
    <!--End of output of function-->
</form>
<script type="text/javascript" src="static/main.js"></script>  
{% endblock %}