{% extends 'base.html' %}

{% block title %}Fónix Anúncios{% endblock %}

{% block content %}
<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>
{% if text %}
<p>{{ text }}</p>
{% endif %}
<form method="POST">

    <p>
        <label for="first">O teu email</label>
        <input id="first" type="email" name="email" type="text">
    </p>

    <input type="submit" value="Inscrever">

    <!--Place output of make_template(data) here-->
    <h2>LEIC-A</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=LEIC-A value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEIC-A value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEIC-A value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEIC-A value='IAED'> IAED <br /></p>
        <p><input type=checkbox name=LEIC-A value='LP'> LP <br /></p>
        <p><input type=checkbox name=LEIC-A value='MD'> MD <br /></p>
    </div>
    <h2>LEIC-T</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=LEIC-T value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEIC-T value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEIC-T value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEIC-T value='IAED'> IAED <br /></p>
        <p><input type=checkbox name=LEIC-T value='LP'> LP <br /></p>
        <p><input type=checkbox name=LEIC-T value='MD'> MD <br /></p>
    </div>
    <h2>LEE</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=LEE value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEE value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEE value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEE value='AC'> AC <br /></p>
        <p><input type=checkbox name=LEE value='DMG'> DMG <br /></p>
        <p><input type=checkbox name=LEE value='MO'> MO <br /></p>
        <p><input type=checkbox name=LEE value='Prog'> Prog <br /></p>
    </div>
    <h2>LEGM</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=LEGM value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEGM value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEGM value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=LEGM value='Des'> Des <br /></p>
        <p><input type=checkbox name=LEGM value='Est'> Est <br /></p>
        <p><input type=checkbox name=LEGM value='EOEG'> EOEG <br /></p>
        <p><input type=checkbox name=LEGM value='Geol'> Geol <br /></p>
        <p><input type=checkbox name=LEGM value='MO'> MO <br /></p>
    </div>
    <h2>LEGI</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=LEGI value='AL'> AL <br /></p>
        <p><input type=checkbox name=LEGI value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=LEGI value='CDI-II'> CDI-II <br /></p>
    </div>
    <h2>MEEC</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=MEEC value='AL'> AL <br /></p>
        <p><input type=checkbox name=MEEC value='AC'> AC <br /></p>
        <p><input type=checkbox name=MEEC value='CDI-I'> CDI-I <br /></p>
        <p><input type=checkbox name=MEEC value='CDI-II'> CDI-II <br /></p>
        <p><input type=checkbox name=MEEC value='Ges'> Ges <br /></p>
        <p><input type=checkbox name=MEEC value='MO'> MO <br /></p>
        <p><input type=checkbox name=MEEC value='Prog'> Prog <br /></p>
    </div>
    <!--End of output of function-->
</form>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}