{% extends 'base.html' %}

{% block title %}Fónix Anúncios{% endblock %}

{% block content %}
<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
</style>

<form method="POST">
    <p>
        <label for="first">O teu email</label>
        <input id="first" name="email" type="text">
    </p>
    <p>Source: <a
            href="https://github.com/rafaelsgirao/fonix-anuncios">https://github.com/rafaelsgirao/fonix-anuncios</a></p>
    <p>Contact: <a href="mailto:rafael@rafael.ovh">rafael@rafael.ovh</a> | Discord: <a
            href="https://discord.com/users/97747424486887424">Ender#1327</a></p>
    <input type="submit" value="Inscrever">
    <h2>LEIC-A</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=leic-a value='al'> AL <br /></p>
        <p><input type=checkbox name=leic-a value='cdi-i'> CDI-I <br /></p>
        <p><input type=checkbox name=leic-a value='cdi-ii'> CDI-II <br /></p>
        <p><input type=checkbox name=leic-a value='iaed'> IAED <br /></p>
        <p><input type=checkbox name=leic-a value='lp'> LP <br /></p>
        <p><input type=checkbox name=leic-a value='md'> MD <br /></p>
    </div>
    <h2>LEIC-T</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=leic-t value='al'> AL <br /></p>
        <p><input type=checkbox name=leic-t value='cdi-i'> CDI-I <br /></p>
        <p><input type=checkbox name=leic-t value='cdi-ii'> CDI-II <br /></p>
        <p><input type=checkbox name=leic-t value='iaed'> IAED <br /></p>
        <p><input type=checkbox name=leic-t value='lp'> LP <br /></p>
        <p><input type=checkbox name=leic-t value='md'> MD <br /></p>
    </div>
    <h2>LEE</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=lee value='al'> AL <br /></p>
        <p><input type=checkbox name=lee value='cdi-i'> CDI-I <br /></p>
        <p><input type=checkbox name=lee value='cdi-ii'> CDI-II <br /></p>
        <p><input type=checkbox name=lee value='ac'> AC <br /></p>
        <p><input type=checkbox name=lee value='dmg'> DMG <br /></p>
        <p><input type=checkbox name=lee value='mo'> MO <br /></p>
        <p><input type=checkbox name=lee value='prog'> Prog <br /></p>
    </div>
    <h2>LEGM</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=legm value='al'> AL <br /></p>
        <p><input type=checkbox name=legm value='cdi-i'> CDI-I <br /></p>
        <p><input type=checkbox name=legm value='cdi-ii'> CDI-II <br /></p>
        <p><input type=checkbox name=legm value='des'> Des <br /></p>
        <p><input type=checkbox name=legm value='est'> Est <br /></p>
        <p><input type=checkbox name=legm value='eoeg'> EOEG <br /></p>
        <p><input type=checkbox name=legm value='geol'> Geol <br /></p>
        <p><input type=checkbox name=legm value='mo'> MO <br /></p>
    </div>
    <h2>LEGI</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=legi value='al'> AL <br /></p>
        <p><input type=checkbox name=legi value='cdi-i'> CDI-I <br /></p>
        <p><input type=checkbox name=legi value='cdi-ii'> CDI-II <br /></p>
    </div>
    <h2>MEEC</h2>
    <button onclick="return false;" class="collapsible">Abrir </button>
    <div class="content">
        <p><input type=checkbox name=meec value='al'> AL <br /></p>
        <p><input type=checkbox name=meec value='ac'> AC <br /></p>
        <p><input type=checkbox name=meec value='cdi-i'> CDI-I <br /></p>
        <p><input type=checkbox name=meec value='cdi-ii'> CDI-II <br /></p>
        <p><input type=checkbox name=meec value='ges'> Ges <br /></p>
        <p><input type=checkbox name=meec value='mo'> MO <br /></p>
        <p><input type=checkbox name=meec value='prog'> Prog <br /></p>
    </div>
</form>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock %}